body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url("https://cdn.wallpapersafari.com/76/66/wTVEY1.jpg");
}

/* Style the container */
.App {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    margin-top: 20px;
    background-color: transparent;
    color: #f0f0f0;
    border: 1px solid white;
}

/* Style the title */
.title {
    color: rgb(241, 218, 4);
    font-size: 40px;
}

/* Style the form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    background-color: transparent;
}

/* Style the input and button */
input {
    padding: 10px 20px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-size: 25px;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
}

/* Style the task list */


.task-container {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    background-color: transparent;
}

/* Style the buttons in the task list */

.complete-btn {
    background-color: #068545;
}

.delete-btn {
    background-color: rgb(131, 51, 51);
}

.task {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
}

.completed {
     text-decoration: line-through;
     color: red;
}